@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');
/*Global*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333447;
  line-height: 2.25rem;
}
/*Typography*/
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
a:hover {
  text-decoration: underline;
}
p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.8;
}
.font-light {
  font-weight: 200;
}
strong {
    font-weight: 700;
}
em {
    font-weight: 300;
    font-style: italic;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.justify {
  text-align: justify;
}
.line {
  height: 1px;
  width: 100%;
  background: #D6D6D8;
  margin: 80px 0;
  text-align: center;
}
/*Forms*/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #FDFDFD;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  }
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
  }
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; 
  }  
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #2776dc;
  outline: 0; 
  }
label,
legend {
  display: block;
  margin-bottom: .35rem;
  }
fieldset {
  padding: 0;
  border-width: 0; 
  }
input[type="checkbox"], input[type="radio"] {
  display: inline; 
}
label > .label-body {
  display: inline-block;
  margin-left: .35rem;
  font-weight: normal; 
  }
/*Buttons*/
.button {
    height: 48px;
    width: 180px;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 4px;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border: none;
    color: #fff;
}
.button:hover {
  color: #fff;
}
.button-danger {
  background: #e74c3c;
}
.button-danger:hover {
  background: #f2796c;
}
.button-success {
  background: #27ae60;
}
.button-success:hover {
  background: #46bf79;
}
.button-warning {
  background: #FFA14F;
}
.button-warning:hover {
  background: #FDB576;
}
.button-primary {
  background: #2776dc;
}
.button-primary:hover {
  background: #679fe6;
}
.button-white {
  background: transparent;
  border: 1px solid #fff;
}
.button-white:hover {
  background: #fff;
  color: #2776dc;
}
.button-black {
  background: #141619;
}
.button-black:hover {
  background: #383C42;
}
.button-outline {
  color: #2776dc;
  background: transparent;
  border: 1px solid #2776dc;
}
.button-outline:hover {
    background: #2776dc;
}
/*Lists*/
ul, ol {
  list-style-position: inside;
}
ul > ul, ol > ol {
  margin-left: 30px;
  list-style-type: square;
}
ul > ul > ul, ol > ol > ol {
  margin-left: 60px;
  list-style-type: disc;
}
ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
/*Images*/
img {
  height: auto;
  display: block;
  max-width: 70%;
  margin: 0 auto 0 auto;
}
.img-small {
  max-width: 50%;
}
.img-large {
  max-width: 95%;
}
/*Code*/
pre, code {
    font-size: 95%;
    border-radius: .25rem; 
}
code {
    line-height: 100%;
    padding: .1rem .25rem;
    margin: 0 .1rem;
    background-color: #FAF8F0;    
    border: 1px solid #D9D9D9;
  }
pre > code {
    display: block;      
    background-color: #FAF8F0;    
    border: 1px solid #D9D9D9;
    line-height: 150%;
  }
/*Panels*/
.panel {
    border: 1px solid #ddd;
}
.panel-heading, .panel-footer, .panel-body {
padding: 10px;
}
.panel-heading, .panel-footer {
  color:#333;
  border-top: 0;
  border-bottom: 0;
  background-color:#F5F5F5;
}
.primary {
  background: #2776dc;
  color: #fff;
}
.danger {
  background: #e74c3c;
  color: #fff;
}
.full-width {
  width: 100%;
}
/*Grid*/
.container {
  padding-top: 100px;
  width: 90%;
  margin: 0 auto 0 auto;
}
.row:before, 
.row:after {
    content:"";
    display: table;
    clear:both;
}
[class*='col-'] {
  float: left;
  margin: 12px 2%;
  min-height: 0.225rem;
  width: 96%;
}
@media only screen and (min-width: 540px) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 720px) {
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
}
@media only screen and (min-width: 65em) {
  .container {
    width: 100%;
    max-width: 65rem;
  }
}