.grid-display {
  margin: 20px 0;
}

.grid-display [class^="col"] {
  background: #93baed;
  border: 1px solid #2776dc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.grid-display [class^="col"] p {
  color: #2776dc;
  font-size: 0.8rem;
}

#typography [class^="col"] p {
  margin-top: 10px;
}

.container {
  padding-top: 100px;
}

.body-content {
  background: #fff;
  padding: 100px 0 120px 0;
  position: relative;
  z-index: 0 !important;
}

.body-content > .container {
  position: relative;
  top: 100px;
  padding-bottom: 100px;
}

header, footer {
    background: #36d1dc;
    background-image: -webkit-linear-gradient(#36d1dc, #5b86e5);
    background-image: -moz-linear-gradient(#36d1dc, #5b86e5);
    background-image: -o-linear-gradient(#36d1dc, #5b86e5);
    background-image: linear-gradient(#36d1dc, #5b86e5);
    z-index: 100;
    width: 100%;
}

header {
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 10px;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
header p {
    color: #fff;
    padding-bottom: 15px;
}

header i {
    font-size: 50px;
    color: #fff;
}

header i:hover {
  color: #FAFAFA;
}

#typography p {
padding-top: 10px;
}

#typography p:first-of-type {
padding-top: 0;
}

footer {
    height: 300px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 40px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: #fff;
  text-decoration: none;
}

.img {
  background-size: contain;
  background-repeat: no-repeat;
}

.img-logo {
  background-image: url('http://www.iconninja.com/files/381/409/110/racoon-icon.svg');
  background-size: contain;
  height: 120px;
  width: 120px;
  padding-bottom: 50px;
}

 .ion-heart {
    color: #e74c3c;
  }

  .ion-android-arrow-dropdown-circle:hover {
    color:#E2E2E2;
    transition: all 0.5s ease;
  }