.grid-display {
  margin: 20px 0;
}

.grid-display [class^="col"] {
  background: #93baed;
  border: 1px solid #2776dc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.grid-display [class^="col"] p {
  color: #2776dc;
  font-size: 0.8rem;
}

.container {
  padding-top: 100px;
}

header, footer {
    background: #36d1dc;
    background-image: -webkit-linear-gradient(#36d1dc, #5b86e5);
    background-image: -moz-linear-gradient(#36d1dc, #5b86e5);
    background-image: -o-linear-gradient(#36d1dc, #5b86e5);
    background-image: linear-gradient(#36d1dc, #5b86e5);
    z-index: 100;
    width: 100%;
}

header {
    min-height: 100%;
    color: #fff;
}

header h1,
header h3,
header p {
    padding-bottom: 15px;
}

header i {
    font-size: 50px;
    color: #fff;
}

header i:hover {
  color: #FAFAFA;
}

#typography p {
padding-top: 10px;
}

#typography p:first-of-type {
padding-top: 0;
}

footer {
    height: 300px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 40px;
}

footer a {
  color: #fff;
}

footer a:visited {
  color: #fff;
}

.logo {
  background-image: url('http://www.iconninja.com/files/381/409/110/racoon-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  width: 120px;
  padding-bottom: 50px;
}

.ion-heart {
  color: #e74c3c;
}
.ion-heart:hover {
  color: #f2796c;
}
.ion-android-arrow-dropdown-circle:hover {
  color:#E2E2E2;
}

[class*='ion-']:hover {
  transition: all 0.5s ease;
  cursor: pointer;
}

.button-white {
  background: transparent;
  border: 1px solid #fff;
}
.button-white:hover {
  background: #fff;
  color: #2776dc;
}