
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Fox CSS - No–nonsense CSS Framework for Web Development">
  <meta name="author" content="Nicholas Clancy">
  <meta property="og:url" content="http://foxcss.com/" ng-if="og">
  <meta property="og:type" content="website" ng-if="og">
  <meta property="og:title" content="Fox CSS" ng-if="og">
  <meta property="og:description" content="Fox CSS - No–nonsense CSS Framework for Web Development" ng-if="og">
  <meta property="og:image" content="" ng-if="og">
  <meta property="og:image:secure_url" content="" />
  <title>Fox | No–nonsense CSS Framework for Web Development</title>

  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/landing.css"/>
  <link rel="stylesheet" href="css/fox.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
</head>
<body>

  <header>
    <div class="container">
      <div class="row">
        <div class="col-12 center">
          <div class="logo center"></div>
          <h1>Fox is the CSS framework for Web Development</h1>
          <a href="https://bitbucket.org/Nomm_/fox-css" target="_blank">
            <button class="button button-white">Download</button>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-4 center">
          <i class="ion-ios-cloud-outline"></i>
          <h3 class="font-light">Light</h3>
          <p>Small, compact and under 5kb. What more can you ask for?</p>
        </div>
        <div class="col-4 center">
          <i class="ion-link"></i>
          <h3 class="font-light">Flexible</h3>
          <p>Built with flexibility in mind so you can chop and change as you please</p>
        </div>
        <div class="col-4 center">
          <i class="ion-ios-bolt-outline"></i>
          <h3 class="font-light">Fast</h3>
          <p>Lightning fast speeds with absolutely zero compiling or installing required</p>
        </div>
      </div>
      <div id="downArrow" class="row">
        <div class="col-12 center">
          <p>
            <a id="scrollToAbout">
              <i class="ion-android-arrow-dropdown-circle"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </header>

<div class="container">

  <section id ="about">
    <div class="row">
      <div class="col-12">
        <h3>What is Fox?</h3>
        <p>Fox is a lightweight, compact and simply all-round awesome CSS framework that was built with one goal, to give web developers the CSS framework they've been needing for years.
          It's under 5kb (less when minified and GZipped), 300 lines (less if you want to have some unreadable CSS) and with such simplistic styling, it enables you to do what you do best. Design and Develop. Start using Fox today and let it change the way you work for the better.
          <div class="center">
            <a href="https://bitbucket.org/Nomm_/fox-css" target="_blank">
              <button class="button button-primary">Download</button>
            </a>  
          </div>
        </p>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-3"></div>
      <div class="col-6">
        <div class="line"></div>
      </div>
      <div class="col-3"></div>
  </div>  

  <section class="grid-system">
    <div class="row">
      <div class="col-12">
        <h3>The Grid</h3>
        <p>
          Fox uses a 12-column fluid grid that has a max width of <code>1040px</code>. It shrinks with the browser/device no matter what the size and you can simply change the max width with one line to suit your needs. 
          Fox will handle the rest and everything will resize accordingly. Fox uses simple, easy to read syntax that just makes sense. No more nonsense and just plain simple code that makes everything a breeze.
          Container is the main wrapper and Columns should always be a child of a Row.</p>
      </div>
    </div>
    <div class="grid-display">
        <div class="row">
          <div class="col-1">
            <p>
              one
            </p>
          </div>
          <div class="col-11">
            <p>
              eleven
            </p>
        </div>
        <div class="row">
          <div class="col-2">
            <p>
              two
            </p>
          </div>
          <div class="col-10">
            <p>
              ten
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p>
              three
            </p>
          </div>
          <div class="col-9">
            <p>
              nine
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>
              four
            </p>
          </div>
          <div class="col-8">
            <p>
              eight
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p>
              five
            </p>
          </div>
          <div class="col-7">
            <p>
              seven
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p>
              six
            </p>
          </div>
          <div class="col-6">
            <p>
              six
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <p>
              seven
            </p>
          </div>
          <div class="col-5">
            <p>
              five
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <p>
              eight
            </p>
          </div>
          <div class="col-4">
            <p>
              four
            </p>
          </div>
        </div>   
        <div class="row">
          <div class="col-9">
            <p>
              nine
            </p>
          </div>
          <div class="col-3">
            <p>
              three
            </p>
          </div>
        </div>   
        <div class="row">
          <div class="col-10">
            <p>
              ten
            </p>
          </div>
          <div class="col-2">
            <p>
              two
            </p>
          </div>
        </div>  
        <div class="row">
          <div class="col-11">
            <p>
              eleven
            </p>
          </div>
          <div class="col-1">
            <p>
              one
            </p>
          </div>
        </div>                        
        <div class="row">
          <div class="col-12">
            <p>
              twelve
            </p>
          </div>
        </div>
      </div>
  </section>

    <div class="row">
      <div class="col-3"></div>
        <div class="col-6">
          <div class="line"></div>
        </div>
        <div class="col-3"></div>
    </div>

  <section>
    <div class="row">
      <div class="col-12">
        <h3>Typography</h3>
        <p>
          Out of the box, Fox uses Open Sans as the default font-family and also comes with a few other things. 
          <strong>Bold</strong>, <em>Italic</em>, <u>Underline</u> and <strike>Strike</strike> all come standard along with predefined font-sizes for headings.
          The default font-size is set at 18px with a line-height of 2.25rem. Utilising rem ensures font-sizes and spacial relationships can be responsively sized based on a single <code>&lt;html&gt;</code> font-size property so a h1 with a 2.5rem font-size just means 40px.
        </p>
      </div>
    <div id="typography" class="row">
      <div class="col-6">
        <p>
          <strong>Lists</strong>
          <ul>
            <li>Look how sexy this unordered list is</li>
          </ul>
          <ul>
            <li>Oh look more lists</li>
            <ul>
              <li>Just some nested lists kappa</li>
              <ul>
                <li>A nest within a nest</li>
              </ul>
              <li>Voodoo like behaviour</li>
            </ul>
            <li>Kappa Kappa Kappa</li>
          </ul>
          <ol>
            <li>Okay just some ordered lists</li>
            <li>Oh look they have numbers</li>
            <ol>
              <li>They can also be nested</li>
              <ol>
                <li>Into the nest of nests we go</li>
              </ol>
              <li>And we are now in the main nest</li>
            </ol>
            <li>This is glorious</li>
          </ol>
        </p>
      </div>
      <div class="col-6">
      <div class="row">
          <div class="col-12">
            <h1>Heading</h1><code>h1 2.5rem</code>
          </div>
      </div>
            <div class="row">
          <div class="col-12">
            <h2>Heading</h2><code>h2 2rem</code>
          </div>
      </div>
            <div class="row">
          <div class="col-12">
            <h3>Heading</h3><code>h3 1.375rem</code>
          </div>
      </div>
            <div class="row">
          <div class="col-12">
            <h4>Heading</h4><code>h4 1.125rem</code>
          </div>
      </div>
            <div class="row">
          <div class="col-12">
            <h5>Heading</h5><code>h5 1rem</code>
          </div>
      </div>
        <div class="row">
          <div class="col-12">
            <h6>Heading</h6><code>h6 0.875rem</code>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

    <div class="row">
      <div class="col-3"></div>
        <div class="col-6">
          <div class="line"></div>
        </div>
        <div class="col-3"></div>
    </div>

    <section>
      <div class="row">
        <div class="col-12">
          <h3>Images</h3>
          <p>
            Images are automatically responsive in Fox so you don't ever have to worry about 
            them falling off the edge of rows or not fitting into your columns. 
            By default they are automatically centered and images use a max-width property that is inherited from the parent element. 
            The default max-width is <code>70%</code> however you can adjust the size of images using either <code>.img-small</code> or <code>.img-large</code>.
          </p>
          <div class="col-4 center">
            <code>img-small</code>
            <img class="img-small" src="http://static.boredpanda.com/blog/wp-content/uploads/2015/09/zen-foxes-roeselien-raimond-3__880.jpg" alt="Fox CSS"/>
          </div>
          <div class="col-4 center">
            <code>no class</code>
            <img src="http://static.boredpanda.com/blog/wp-content/uploads/2015/09/zen-foxes-roeselien-raimond-3__880.jpg" alt="Fox CSS"/>
          </div>
          <div class="col-4 center">
            <code>img-large</code>
            <img class="img-large" src="http://static.boredpanda.com/blog/wp-content/uploads/2015/09/zen-foxes-roeselien-raimond-3__880.jpg" alt="Fox CSS"/>
          </div>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="col-3"></div>
        <div class="col-6">
          <div class="line"></div>
        </div>
        <div class="col-3"></div>
    </div>

    <section>
      <div class="row">
        <div class="col-12">
          <h3>Buttons</h3>
          <p>
            Buttons come in multiple flavours and all buttons use the base class <code>button</code> which has a few default styles attached to it.
            Button styles can be applied to inputs, buttons and you can wrap an anchor around a button to achieve the same effect. 
            View the <u>source code</u> and check any of the buttons as a quick reference point.
          </p>
        </div>
        <div class="col-4 center">
          <code>button-primary</code><br/>
          <button class="button button-primary">Button</button>
        </div>
        <div class="col-4 center">
          <code>button-black</code><br/>
          <input type="button" class="button button-black" value="Button"/>
        </div>
        <div class="col-4 center">
          <code>button-outline</code><br/>
          <button href="#" class="button button-outline">Button</button>
        </div>
        <div class="col-4 center">
          <code>button-success</code><br/>
          <button class="button button-success">Success</button>
        </div>
        <div class="col-4 center">
          <code>button-danger</code><br/>
          <button class="button button-danger">Danger</button>
        </div>    
        <div class="col-4 center">
          <code>button-warning</code><br/>
          <a href="#">
            <button class="button button-warning">Warning</button>
          </a>
        </div>         
      </div>
    </section>

    <div class="row">
      <div class="col-3"></div>
        <div class="col-6">
          <div class="line"></div>
        </div>
        <div class="col-3"></div>
    </div>

    <section>
      <div class="row">
        <div class="col-12">
          <h3>Forms</h3>
          <p>
            Just like the rest of Fox, the styling of forms has been kept simple to make customisation a breeze. 
            All inputs, selects and buttons have been normalised for a common height so that they can be stacked or placed alongside each other without any issues.
          </p>
        </div>
      </div>
      <div class="row">
          <form>
            <div class="col-6">
              <label for="textInput">Your name</label>
              <input type="text" class="full-width" placeholder="Your name" id="textInput" />
            </div>
            <div class="col-6">
              <label for="exampleRecipientInput">How did you find out about us?</label>
              <select class="full-width" id="exampleRecipientInput">
                <option value="Option 1">Google</option>
                <option value="Option 2">Referral</option>
                <option value="Option 3">Bitbucket</option>
                <option value="Option 4">Online forum</option>
                <option value="Option 5">Other</option>
              </select>
            </div>
          </form>
      </div>
      <div class="row">
      <div class="col-12">
        <label for="exampleMessage">Message</label>
        <textarea class="full-width" placeholder="Enter your message" id="exampleMessage"></textarea>
      </div>      
      </div>
    </section>    

    <div class="row">
      <div class="col-3"></div>
        <div class="col-6">
          <div class="line"></div>
        </div>
        <div class="col-3"></div>
    </div>

    <section>
      <div class="row">
        <div class="col-12">
          <h3>Panels</h3>
          <p>
            Panels are a great way to group and organise related information in bordered areas. You can also colour the panels by using contextual classes to define them for the heading, footer or both. 
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
            <div class="panel">
              <div class="panel-heading primary">Primary heading</div>
            </div>
        </div>  
        <div class="col-6">
            <div class="panel">
              <div class="panel-heading danger">Danger heading</div>
            </div>
        </div>  
      <div class="col-12">
          <div class="panel">
            <div class="panel-heading">Default heading</div>
            <div class="panel-body">
              <p>
                <img class="img-small" src="http://static.boredpanda.com/blog/wp-content/uploads/2015/09/zen-foxes-roeselien-raimond-3__880.jpg" />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>              
            </div>
            <div class="panel-footer">Default footer</div>
          </div>
      </div>                       
      </div>    
    </section>

    <div class="row">
      <div class="col-3"></div>
        <div class="col-6">
          <div class="line"></div>
        </div>
        <div class="col-3"></div>
    </div>    

    <section>
      <div class="row">
        <div class="col-12">
          <h3>Code</h3>
          <p>
            There are two ways to style code. To keep things simple, you can wrap something with the element <code>code</code> 
            or if you're wanting to display a block of code, wrap <code>code</code> with a <code>pre</code> tag.
            <pre>
              <code>
              code {
                line-height: 100%;
                padding: .1rem .25rem;
                margin: 0 .1rem;
                background-color: #FAF8F0;    
                border: 1px solid #D9D9D9;
              }
              </code>
            </pre> 
          </p>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="col-3"></div>
        <div class="col-6">
          <div class="line"></div>
        </div>
        <div class="col-3"></div>
    </div>

    <section>
      <div class="row">
        <div class="col-12 center">
          <h3>What are you waiting for?</h3>
          <p>
            Download Fox today and let it change the way you develop.
          </p>
          <a href="https://bitbucket.org/Nomm_/fox-css" target="_blank">
            <button class="button button-primary">Download</button>
          </a>
        </div>  
      </div>
    </section>

</div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-5 left">
            <p>
              Made with <i class="ion-heart"></i> from Australia by <a href="https://bitbucket.org/Nomm_/" target="_blank">Nicholas Clancy</a> <br/>
              Contribute on <a href="https://bitbucket.org/Nomm_/fox-css" target="_blank">Bitbucket</a><br/>
              Contact me on <a href="https://www.linkedin.com/in/clancynicholas/" target="_blank">LinkedIn</a><br/>
              Open source under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>    
  <script> 
    $("#scrollToAbout").click(function() {
        $('html, body').animate({
            scrollTop: $("#about").offset().top
        }, 1300);
    });
  </script>
</body>
</html>
